


body{

  padding: 0rem 10rem;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h3, p{
  margin: 5px;
}

.escondido{
  display: none;
}

a{
  background-color: unset;
  border:unset;
  cursor:pointer;
  text-decoration: none;
  transition: 200ms;
  color: rgb(1, 1, 1);
  font-size: small;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


button{
  transition: 200ms;
}

a:hover:not(#cart), button:hover{
  color:rgb(180, 180, 180);
  transform: rotate(1.5rem);
}


header{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
  margin-bottom: 10px;
  font-size: larger;
}

header nav{
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}

#logo{
  height: 60px;
  margin: 20px;
}

header nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}

header nav img{
  height: 25px;
}

#cuenta-carrito{
  position: absolute;
  background-color: rgb(191, 0, 0);
  border-radius: 100%;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  aspect-ratio: 1;
  text-align: center;
  margin-bottom: 15px;
}


.texto-inicio{
  color: rgba(0, 0, 0, 0.226);  
  background-color: rgb(255, 255, 255);

  border: 2px solid white;
  border-radius: 20px 20px 20px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: 900;
  padding: .5rem;
}

.texto-inicio:hover{
color: rgb(255, 255, 255);
background-color: rgba(235, 235, 235, 0.381);

}








.pagina-inicio{

  height: 100vh;
  width: 100%;

  background-color: rgb(255, 255, 255);

  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-template-rows: 1fr 1fr;

  grid-template-areas: 

      "tienda      remeras"

      "pantalones     contacto";
 
  gap: 1rem;
}

.pagina-inicio > * {

      display: flex;
  
      justify-content: center;
  
      align-items: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: xx-large;
      color: rgb(12, 12, 12);
}


.tienda{
  background-image: url(../img/inicio/tienda.png);
  grid-area: tienda;

 
}
.tienda, .scale-in-center:hover{
-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

          animation-delay: 0.5s;
          animation-duration: 1s;
}


.remeras{
  
  background-image: url(../img/inicio/remeraportada.png);
}
 

.remeras, .scale-in-center:hover{
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
              animation-delay: 1s;
              animation-duration: 1.5s;
}



.pantalones{
  background-image: url(../img/inicio/pantalones.png);
  grid-area:pantalones;
}
.pantalones, .scale-in-center:hover{
-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

          animation-delay: 1.5s;
          animation-duration: 2s;
}


.contacto{
  background-image: url(../img/inicio/contacto.png);
  grid-area: contacto;
}
.contacto, .scale-in-center:hover{
-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

          animation-delay: 2s;
          animation-duration: 2.5s;
}





@media screen and (max-width: 600px) {
  .pagina-inicio {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "tienda" "remeras" "pantalones" "contacto";
  }
}
@media screen and (max-width: 800px) {
  a {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.008);
  }
} 
/* ----------------------------------------------
 * Generated by Animista on 2023-8-23 9:16:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
} 

/* # sourceMappingURL=style.css.map */
