
#productos-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
justify-content: center;}

.tarjeta-producto{
  background-color: rgb(254, 246, 232);
  text-align: center;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 200ms;
}

.tarjeta-producto:hover{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  translate: 0px -5px;
}

.tarjeta-producto img{
  max-width:100%;
  
}

.precio{
  font-weight: 600;
}

.tarjeta-producto button{
  font-size: larger;
  background-color: rgb(191, 0, 0);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  border:unset;
  cursor:pointer;
}

















.pagina-inicio{

    height: 100vh;
    width: 100%;

    background-color: rgb(255, 255, 255);

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr;

    grid-template-areas: 

        "tienda      remeras"

        "pantalones     contacto";
   
    gap: 1rem;
}

.pagina-inicio > * {

        display: flex;
    
        justify-content: center;
    
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: xx-large;
        color: rgb(12, 12, 12);
}

/* //  .index:hover{
  
//     color: rgb(28, 28, 28);
//     background-color: rgba(255, 255, 255, 0.205);
//     border-radius: 30px;
//     border: 1px solid black;
//     padding: 10px;
//  } */

 






.tienda{
    background-image: url(./img/inicio/tienda.png);
    grid-area: tienda;

   
}
.tienda, .scale-in-center:hover{
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            animation-delay: 0.5s;
            animation-duration: 1s;
}


.remeras{
    
    background-image: url(./img/inicio/remeraportada.png);

}
   

.remeras, .scale-in-center:hover{
      -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
                animation-delay: 1s;
                animation-duration: 1.5s;
}



.pantalones{
    background-image: url(./img/inicio/pantalones.png);
    grid-area:pantalones;
}
.pantalones, .scale-in-center:hover{
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            animation-delay: 1.5s;
            animation-duration: 2s;
}


.contacto{
    background-image: url(/img/inicio/contacto.png);
    grid-area: contacto;
}
.contacto, .scale-in-center:hover{
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            animation-delay: 2s;
            animation-duration: 2.5s;
}

